Final Deliverables/Node_RED_JSON_File/flows.json
[{"id":"93d9a3ca4a88b377","type":"tab","label":"SMART FARM","disabled":false,"info":"","env":[]},{"id":"f2f2649a.0d0d98","type":"debug","z":"93d9a3ca4a88b377","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"msg","x":670,"y":60,"wires":[]},{"id":"f6e4e63ad1bb21f9","type":"function","z":"93d9a3ca4a88b377","name":"Temperature","func":"msg.payload = msg.payload.Temperature;\nglobal.set(\"temp\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":60,"wires":[["f2f2649a.0d0d98"]]},{"id":"8a5613e674ad176f","type":"function","z":"93d9a3ca4a88b377","name":"Humidity","func":"msg.payload = msg.payload.Humidity;\n\nglobal.set(\"humi\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":120,"wires":[["f2f2649a.0d0d98"]]},{"id":"2a757f76cdb523cb","type":"ibmiot in","z":"93d9a3ca4a88b377","authentication":"apiKey","apiKey":"8a68bcca64c773ce","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":60,"wires":[["f6e4e63ad1bb21f9","8a5613e674ad176f","f2f2649a.0d0d98"]]},{"id":"cb73fa61a26a98b3","type":"http response","z":"93d9a3ca4a88b377","name":"","statusCode":"","headers":{},"x":770,"y":220,"wires":[]},{"id":"3c9528207827be3f","type":"debug","z":"93d9a3ca4a88b377","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"msg","x":790,"y":280,"wires":[]},{"id":"99194e9243a290ef","type":"http in","z":"93d9a3ca4a88b377","name":"","url":"/current_sensor_data","method":"get","upload":false,"swaggerDoc":"","x":230,"y":220,"wires":[["a7cd79983088d008"]]},{"id":"a7cd79983088d008","type":"function","z":"93d9a3ca4a88b377","name":"","func":"msg.payload = { \"temperature\" : global.get(\"temp\"),\"humidity\" : global.get(\"humi\")};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":220,"wires":[["cb73fa61a26a98b3","3c9528207827be3f"]]},{"id":"433de4f53ac0f06d","type":"ibmiot out","z":"93d9a3ca4a88b377","authentication":"apiKey","apiKey":"8a68bcca64c773ce","outputType":"cmd","deviceId":"24_0A_C4_00_01_10","deviceType":"ESP32","eventCommandType":"command","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":800,"y":420,"wires":[]},{"id":"0656ebf5cd967964","type":"http in","z":"93d9a3ca4a88b377","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":240,"y":420,"wires":[["2acb7979ccba6233","561384ac47a543d9"]]},{"id":"4d3a6c74430b76fc","type":"debug","z":"93d9a3ca4a88b377","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"msg","x":810,"y":480,"wires":[]},{"id":"2acb7979ccba6233","type":"http response","z":"93d9a3ca4a88b377","name":"","statusCode":"","headers":{},"x":790,"y":540,"wires":[]},{"id":"561384ac47a543d9","type":"function","z":"93d9a3ca4a88b377","name":"","func":"//msg.payload = {'command' : msg.payload.command };\nmsg.payload = msg.payload.command;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":420,"wires":[["433de4f53ac0f06d","4d3a6c74430b76fc"]]},{"id":"8a68bcca64c773ce","type":"ibmiot","name":"IBMIOTAPI","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false,"credentials":{}}]